@charset "UTF-8";
.nav-right {
  display: none;
  background: url(../images/nav-right.png) no-repeat;
  width: 2.1333333333rem;
  height: 2.1333333333rem;
  background-size: 1.0666666667rem 0.9066666667rem;
  background-position: center;
  position: absolute;
  right: 0.8rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari 和 Chrome */
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.nav-right-info {
  position: absolute;
  top: 2.1333333333rem;
  width: 12.3466666667rem;
  right: 6%;
  border-radius: 0.2666666667rem;
  padding: 0 0.8rem;
  background: #32325d;
  display: none; }
  .nav-right-info.active {
    display: block; }
  .nav-right-info li {
    border-bottom: 1px solid #47476e;
    position: relative;
    line-height: 3.0933333333rem;
    font-size: 0.64rem; }
    .nav-right-info li.active > a {
      color: #1bd18f; }
  .nav-right-info a {
    color: #fff;
    display: block;
    position: relative; }

.icon-arrow {
  display: block;
  width: 0.5333333333rem;
  height: 0.32rem;
  background: url(../images/icon-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%; }
  .icon-arrow.active {
    -ms-transform: rotateX(180deg);
    /* IE 9 */
    -moz-transform: rotateX(180deg);
    /* Firefox */
    -webkit-transform: rotateX(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg); }

.nav-info-second {
  padding-left: 0.5333333333rem;
  display: none; }
  .nav-info-second.active {
    display: block; }
  .nav-info-second li {
    border-bottom: none; }
  .nav-info-second a {
    font-size: 0.64rem;
    color: rgba(255, 255, 255, 0.6) !important; }

@media (max-width: 768px) {
  .warp {
    width: auto; }

  body {
    min-width: auto;
    padding-top: 2.1333333333rem; }

  .banner-title {
    float: none; }

  .core-item {
    width: 100%; }

  .header {
    background: #f5f7f9;
    padding: 0 1.3333333333rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 2.1333333333rem;
    line-height: 2.1333333333rem; }
    .header:before {
      content: '';
      bottom: 0;
      left: 0; }

  .nav {
    display: none; }

  .nav-right {
    display: block; }

  .list-info li {
    float: none;
    width: 100%; }

  .banner-title {
    width: auto;
    text-align: center;
    margin-top: 2.1333333333rem; }
    .banner-title h1 {
      font-size: 0.9066666667rem;
      font-weight: bold; }
    .banner-title p {
      font-size: 0.6933333333rem;
      margin-top: 0.2666666667rem; }

  .banner-pic {
    margin: 0 auto;
    margin-top: 5%;
    float: none; }

  .jiangtai-pic {
    width: 13.2533333333rem;
    height: 13.6266666667rem;
    margin-top: 1.28rem; }

  .green-btn {
    margin-top: 0.9333333333rem;
    height: 1.2266666667rem;
    line-height: 1.2266666667rem;
    padding: 0 0.5333333333rem;
    font-size: 0.64rem; }

  .banner {
    height: 22.6133333333rem;
    background-image: url(../images/index-banner-phone.png);
    background-position: top center;
    background-size: 100%; }

  /*********index**********/
  .index-01 {
    width: 4.8533333333rem;
    height: 3.28rem;
    background-image: url(../images/index-01-phone.png);
    top: 7.4666666667rem;
    left: 0;
    animation: index01768 2s;
    -webkit-animation: index01768 2s; }

  @keyframes index01768 {
    from {
      left: -50%;
      top: 10.1333333333rem;
      opacity: 0; }
    to {
      top: 7.4666666667rem;
      left: 0;
      opacity: 1; } }
  @-webkit-keyframes index01768 {
    from {
      left: -50%;
      top: 10.1333333333rem;
      opacity: 0; }
    to {
      top: 7.4666666667rem;
      left: 0;
      opacity: 1; } }
  .index-02 {
    width: 3.7333333333rem;
    height: 3.2rem;
    background-image: url(../images/index-02-phone.png);
    right: 0;
    top: 0;
    animation: index02768 2s;
    -webkit-animation: index02768 2s; }

  @keyframes index02768 {
    from {
      right: -50%;
      top: -10%;
      opacity: 0; }
    to {
      right: 0;
      top: 0;
      opacity: 1; } }
  @-webkit-keyframes index02768 {
    from {
      right: -50%;
      top: -10%;
      opacity: 0; }
    to {
      right: 0;
      top: 0;
      opacity: 1; } }
  .index-03 {
    width: 3.6266666667rem;
    height: 4.1333333333rem;
    background-image: url(../images/index-03-phone.png);
    top: 15.0666666667rem;
    left: 0;
    animation: index03768 2s;
    -webkit-animation: index03768 2s; }

  @keyframes index03768 {
    from {
      top: 18.6133333333rem;
      left: -50%;
      opacity: 0; }
    to {
      top: 15.0666666667rem;
      left: 0;
      opacity: 1; } }
  @-webkit-keyframes index03768 {
    from {
      top: 18.6133333333rem;
      left: -50%;
      opacity: 0; }
    to {
      top: 15.0666666667rem;
      left: 0;
      opacity: 1; } }
  .index-04 {
    width: 3.6rem;
    height: 6.5066666667rem;
    background-image: url(../images/index-04-phone.png);
    right: 0;
    top: 10.1333333333rem;
    animation: index04768 2s;
    -webkit-animation: index04768 2s; }

  @keyframes index04768 {
    from {
      right: -56%;
      top: 7.4666666667rem;
      opacity: 0; }
    to {
      right: 0%;
      top: 10.1333333333rem;
      opacity: 1; } }
  @-webkit-keyframes index04768 {
    from {
      right: -56%;
      top: 7.4666666667rem;
      opacity: 0; }
    to {
      right: 0;
      top: 10.1333333333rem;
      opacity: 1; } }
  .list-info {
    text-align: center; }
    .list-info .icon {
      margin: 0 auto; }
    .list-info li {
      padding: 0 1.3333333333rem;
      margin-top: 1.3333333333rem; }
      .list-info li p {
        font-size: 0.6933333333rem;
        margin-top: 0.2666666667rem; }
      .list-info li h4 {
        font-size: 0.7466666667rem;
        margin-top: 0.5333333333rem; }
    .list-info li:first-child {
      padding-left: 1.3333333333rem; }
    .list-info li:last-child {
      padding-right: 1.3333333333rem; }

  .core {
    padding: 2.4rem 1.3333333333rem 0; }
    .core h2 {
      text-align: center; }

  .core-item {
    margin-bottom: 20px;
    line-height: 2.6666666667rem;
    height: 2.6666666667rem; }
    .core-item p {
      font-size: 14px; }

  .six {
    padding: 0 6%;
    height: auto; }
    .six h2 {
      text-align: center; }

  .six-list li {
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    padding-bottom: 1.0666666667rem; }
    .six-list li h5 {
      font-size: 0.7466666667rem;
      margin-top: 0.5333333333rem; }
    .six-list li p {
      font-size: 0.6933333333rem;
      margin-top: 0.2666666667rem; }
  .six-list .six-info {
    float: none;
    max-width: none; }

  .six-icon {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px; }
    .six-icon .icon {
      margin: 0 auto; }

  .index-footer01 {
    display: none; }

  .index-footer02 {
    display: none; }

  .cooperation-list {
    padding: 0 6%; }

  .footer {
    height: auto;
    padding-bottom: 20px; }
    .footer span {
      display: block;
      margin-bottom: 10px;
      font-size: 0.64rem; }

  .coo-info {
    width: auto;
    padding-left: 1.0666666667rem;
    padding-right: 1.0666666667rem;
    padding-bottom: 1.0666666667rem;
    padding-top: 1.4666666667rem; }
    .coo-info h4 {
      font-size: 0.7466666667rem; }
    .coo-info .coo-btn {
      width: 100%;
      height: 1.76rem;
      line-height: 1.76rem;
      font-size: 0.64rem; }

  .coo-item {
    width: auto;
    height: 1.8666666667rem;
    line-height: 1.8666666667rem;
    margin-bottom: 0.8rem; }
    .coo-item input {
      height: 100%;
      line-height: 1.8666666667rem;
      font-size: 0.7466666667rem; }

  .cooperation-con {
    padding: 0 1.3333333333rem;
    width: auto;
    background-size: auto;
    height: 27.9466666667rem; }
    .cooperation-con .title {
      padding-top: 1.8666666667rem; }
      .cooperation-con .title .coo-pic {
        background-image: url(../images/zixun-txt-phone.png);
        width: 9.9466666667rem;
        height: 1.7333333333rem;
        margin: 0 auto 1.6rem; }

  .about-con {
    width: auto;
    height: auto;
    background: none;
    background-color: #fff; }

  .adress-pic {
    width: auto;
    height: 240px; }

  .abstract {
    margin: auto;
    padding: 2.6666666667rem 1.3333333333rem 0; }
    .abstract p {
      font-size: 0.7466666667rem; }

  .abstract-list li {
    font-size: 0.7466666667rem; }

  .abstract-txt {
    width: 4.88rem;
    height: 1.52rem;
    background-image: url(../images/abstract-txt-phone.png); }

  .develop-txt {
    width: 7.9466666667rem;
    height: 1.52rem;
    background-image: url(../images/develop-txt-phone.png); }

  .adress-txt {
    width: 5.8666666667rem;
    height: 1.52rem;
    background-image: url(../images/address-txt-phone.png); }

  .develop {
    margin: auto;
    padding: 2.6666666667rem 1.3333333333rem; }

  .develop-time {
    width: 40%;
    font-size: 0.7466666667rem; }

  .develop-info {
    width: 60%;
    font-size: 0.7466666667rem; }

  .adress {
    padding: 0 6%; }

  .product-banner {
    height: 7.36rem;
    background-image: url(../images/pro-banner-phone.png);
    background-size: cover; }
    .product-banner .banner-title {
      width: auto;
      text-align: center;
      margin-top: 0;
      padding-top: 2.3466666667rem; }
      .product-banner .banner-title h1 {
        font-size: 0.9066666667rem;
        font-weight: bold; }
      .product-banner .banner-title p {
        font-size: 0.6933333333rem;
        margin-top: 0.2666666667rem; }

  .product-list {
    padding-top: 0.2666666667rem; }
    .product-list .list-info li {
      margin-top: 1.6rem; }

  .product-pic {
    width: 277px;
    height: 270px;
    background-size: 200px 236px;
    background-position: center bottom; }
    .product-pic .product-pic-info {
      left: 4%;
      width: 36px;
      height: 38px; }
    .product-pic .product-pic-info2 {
      top: 40%;
      right: 26%;
      width: 23px;
      height: 25px; }

  .product-01 {
    display: none; }

  .product-02 {
    display: none; }

  .patent-pic {
    display: none; }

  .patent-pic-phone {
    display: block;
    width: 17.3333333333rem;
    height: 13.9466666667rem; }

  .patent {
    height: auto;
    background: none;
    padding-bottom: 20%; }
    .patent .title {
      padding-top: 0.8rem;
      margin-bottom: 2.4rem; }
      .patent .title h3 {
        font-size: 0.8533333333rem; }
      .patent .title p {
        font-size: 0.7466666667rem; }

  .product03-banner {
    height: 7.36rem;
    background-image: url(../images/product03-banner-phone.png);
    background-size: cover; }
    .product03-banner .banner-title {
      margin-right: 0;
      margin-top: 0;
      padding: 0.8rem 1.3333333333rem 0;
      width: auto; }
      .product03-banner .banner-title h1 {
        font-size: 0.9066666667rem;
        text-align: center; }
      .product03-banner .banner-title p {
        font-size: 0.6933333333rem; }

  .product03-pic {
    width: 260px;
    height: 203px; }

  .product03-center {
    width: 66px;
    height: 66px;
    top: 32%;
    left: 38%; }

  .product03-ball01, .product03-ball02, .product03-ball03, .product03-ball04, .product03-ball05, .product03-ball06 {
    display: none;
    animation: none;
    -webkit-animation: none; }

  .pro03-pic {
    width: 14.24rem;
    height: 11.36rem; }

  .pro03-fot-01 {
    display: none; }

  .pro03-fot-02 {
    display: none; }

  .pro03-bd-list {
    width: auto; }
    .pro03-bd-list p {
      padding-top: 0.4rem;
      margin-top: 0; }

  .pro03-01 {
    width: 143px;
    height: 56px;
    top: 4%;
    left: -16%;
    animation: pro01750 2s;
    -webkit-animation: pro01750 2s; }

  @keyframes pro01750 {
    from {
      left: -36%;
      top: 20%;
      opacity: 0; }
    to {
      left: -16%;
      top: 4%;
      opacity: 1; } }
  @-webkit-keyframes pro01750 {
    from {
      left: -36%;
      top: 20%;
      opacity: 0; }
    to {
      left: -16%;
      top: 4%;
      opacity: 1; } }
  .pro03-02 {
    width: 149px;
    height: 76px;
    top: -6%;
    right: -24%;
    animation: pro02750 2s;
    -webkit-animation: pro02750 2s; }

  @keyframes pro02750 {
    from {
      top: -26%;
      right: -44%;
      opacity: 0; }
    to {
      top: -6%;
      right: -24%;
      opacity: 1; } }
  @-webkit-keyframes pro02750 {
    from {
      top: -26%;
      right: -44%;
      opacity: 0; }
    to {
      top: -6%;
      right: -24%;
      opacity: 1; } }
  .pro03-03 {
    width: 342px;
    height: 82px;
    bottom: 5%;
    left: -72%;
    animation: pro03750 2s;
    -webkit-animation: pro03750 2s; }

  @keyframes pro03750 {
    from {
      bottom: 0;
      left: -100%;
      opacity: 0; }
    to {
      bottom: 5%;
      left: -72%;
      opacity: 1; } }
  @-webkit-keyframes pro03750 {
    from {
      bottom: 0;
      left: -100%;
      opacity: 0; }
    to {
      bottom: 5%;
      left: -72%;
      opacity: 1; } }
  .pro03-04 {
    width: 180px;
    height: 150px;
    bottom: 14%;
    right: -35%;
    animation: pro04750 2s;
    -webkit-animation: pro04750 2s; }

  @keyframes pro04750 {
    from {
      bottom: 24%;
      right: -60%;
      opacity: 0; }
    to {
      bottom: 14%;
      right: -35%;
      opacity: 1; } }
  @-webkit-keyframes pro04750 {
    from {
      bottom: 24%;
      right: -60%;
      opacity: 0; }
    to {
      bottom: 14%;
      right: -35%;
      opacity: 1; } }
  .cooperation-item {
    height: 47px;
    padding: 0 2%; }
    .cooperation-item img {
      vertical-align: middle; }

  .pro03-con {
    height: auto;
    background: none;
    padding-bottom: 20%;
    padding-top: 0; }
    .pro03-con p {
      font-size: 0.7466666667rem; }

  .pro03-list {
    margin-top: 6%; }

  .logo {
    display: none; }

  .logo-phone {
    display: block; }

  /*****************icon**************************/
  .icon-renlian {
    width: 1.8666666667rem;
    height: 1.76rem; }

  .icon-shuju {
    width: 1.8666666667rem;
    height: 1.6533333333rem; }

  .icon-yuyin {
    width: 1.2533333333rem;
    height: 1.7333333333rem; }

  .icon-yuncun {
    width: 2.08rem;
    height: 1.5466666667rem; }

  .icon-six01 {
    width: 1.8666666667rem;
    height: 1.7333333333rem; }

  .icon-six02 {
    width: 1.8666666667rem;
    height: 1.7333333333rem; }

  .icon-six03 {
    width: 1.7333333333rem;
    height: 1.7333333333rem; }

  .icon-six04 {
    width: 1.7333333333rem;
    height: 1.7333333333rem; }

  .icon-six05 {
    width: 1.5733333333rem;
    height: 1.7333333333rem; }

  .icon-six06 {
    width: 1.7333333333rem;
    height: 1.7333333333rem; }

  .icon-zhineng {
    width: 1.8933333333rem;
    height: 1.76rem; }

  .icon-jiesuo {
    width: 1.7333333333rem;
    height: 1.7333333333rem; }

  .icon-muxing {
    width: 1.7066666667rem;
    height: 1.7333333333rem; }

  .icon-beike {
    width: 1.6rem;
    height: 1.76rem; }

  .icon-anquan {
    width: 1.6533333333rem;
    height: 1.8933333333rem; }

  .icon-jiaowu {
    width: 1.84rem;
    height: 1.76rem;
    margin-bottom: 0.1333333333rem; }

  .icon-youhua {
    width: 1.7066666667rem;
    height: 1.7066666667rem;
    margin-bottom: 0.1866666667rem; }

  /*******************fix footer****************/
  .fix-ft.footer {
    position: relative;
    width: 100%;
    bottom: 0; } }

/*# sourceMappingURL=media.css.map */
